<div class="contact">
	<div class="container">
	<div class="col-md-9 col-sm-9 contact-right">
			<form action="#" method="post">
				<input type="text" name="your name" placeholder="Họ và tên" required=" ">
				<input type="text" name="your email" placeholder="Địa chỉ email" required=" ">
				<input type="text" name="your subject" placeholder="Tiêu đề" required=" ">
				<input type="text" name="your phone number" placeholder="Số điện thoại" required=" ">
				<textarea  name="your message" placeholder="Tin nhắn" required=" "></textarea>
				<input type="submit" value="Gởi tin nhắn">
			</form>
		</div>
</div>
</div>
<div class="payment">
	<div class="container">
		<h3>Mua hàng</h3>
		<div class="payq1">
			<h4>Làm thế nào để tôi trả tiền mua hàng ở Fashion Club?</h4>
			<p>Trả tiền mặt hoặc có thể trả tiền qua phương thức thanh toán online (visa).</p>
		</div>
		<div class="payq2">
			<h4>Tiền mặt khi giao hàng là gì?</h4>
			<p>Phí giao hàng của từng loại sẽ khác nhau và tùy thuộc vào số lượng của sản phẩm sẽ thu phí khác nhau</p>
		</div>
		<div class="payq3">
			<h4>Làm cách nào để thanh toán bằng thẻ tín dụng / thẻ ghi nợ?</h4>
			<p>Thêm thẻ thanh toán trong phần tài khoản để có thể sử dụng thẻ tín dụng / thẻ ghi nợ.</p>
		</div>
	</div>
</div>