<!DOCTYPE html>
<html lang="en">

<head>
	<title>Fashion Club </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- css -->
	<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


	<!--// css -->
	<!-- font -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link
		href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
		rel='stylesheet' type='text/css'>
	<!-- //font -->
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
</head>

<body>
	<div class="header-top-w3layouts">
		<div class="container">
			<div class="col-md-6 logo-w3">
				<a href="/"><img src="/images/logo2.png" alt=" " />
					<h1>FASHION<span>CLUB</span></h1>
				</a>
			</div>
			<div class="col-md-6 phone-w3l">
				<ul>
					<li><span class="fas fa-phone" aria-hidden="true"></span></li>
					<li>+(84) 905175250</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="header-bottom-w3ls">
		<div class="container">
			<div class="col-md-7 navigation-agileits">
				<nav class="navbar navbar-default">
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
							data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav ">
							<li class=" active"><a href="/" class="hyper "><span>Trang chủ</span></a></li>
							<li class="dropdown ">
								<a href="/products/cloth" class="dropdown-toggle  hyper"
									data-toggle="dropdown"><span>Quần áo<b class="caret"></b></span></a>
								<ul class="dropdown-menu multi">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="/products/women"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Nữ</a></li>
												<li><a href="/products/men"><i class="fa fa-angle-right"
															aria-hidden="true"></i>nam</a></li>
												<li><a href="/products/kids"> <i class="fa fa-angle-right"
															aria-hidden="true"></i>Trẻ em</a></li>
												<li><a href="/products/party"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Dạ tiệc</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="/products/casuals"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Giản dị</a>
												</li>
												<li><a href="/products/night"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Đồ ngủ</a>
												</li>
												<li><a href="/products/formals"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Công sở</a>
												</li>
												<li><a href="/products/inner"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Đồ lót</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-4 w3l">
											<a href="/products/women"><img src="/images/menu1.jpg"
													class="img-responsive" alt=""></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> Phụ kiện <b
											class="caret"></b></span></a>
								<ul class="dropdown-menu multi multi1">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<li><a href="/products/jewellery"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Trang sức
													</a></li>
												<li><a href="/products/watches"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Đồng hồ</a>
												</li>
												<li><a href="/products/cosmetics"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Mỹ
														phẩm</a></li>
												<li><a href="/products/deos"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Nước hoa</a>
												</li>

											</ul>

										</div>
										<div class="col-sm-4">

											<ul class="multi-column-dropdown">
												<li><a href="/products/haircare"> <i class="fa fa-angle-right"
															aria-hidden="true"></i>Chăm sóc
														tóc </a></li>
												<li><a href="/products/shoes"><i class="fa fa-angle-right"
															aria-hidden="true"></i>giày</a></li>
												<li><a href="/products/handbags"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Túi
														sách</a></li>
												<li><a href="/products/skincare"><i class="fa fa-angle-right"
															aria-hidden="true"></i>Chăm sóc
														da</a></li>
										</div>
										<div class="col-sm-4 w3l">
											<a href="/products/jewellery"><img src="/images/menu2.jpg"
													class="img-responsive" alt=""></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li><a href="/about" class="hyper"><span>Thông tin</span></a></li>
							<li><a href="/contact" class="hyper"><span>Liên hệ chúng tôi</span></a></li>
						</ul>
					</div>
				</nav>
			</div>
			<script>
				$(document).ready(function () {
					$(".dropdown").hover(
						function () {
							$('.dropdown-menu', this).stop(true, true).slideDown("fast");
							$(this).toggleClass('open');
						},
						function () {
							$('.dropdown-menu', this).stop(true, true).slideUp("fast");
							$(this).toggleClass('open');
						}
					);
				});
			</script>
			<div class="col-md-3 search-agileinfo">
				<form action="/products/searchProduct" method="get">
					<input type="search" name="search" id="search" placeholder="Tím kiếm sản phẩm..." required="">
					<button type="submit" class="btn btn-default search" aria-label="Left Align">
						<i class="fa fa-search" aria-hidden="true"> </i>
					</button>
				</form>
			</div>
			<div class="col-md-1 cart-wthree">
				<div class="cart">
					<form action="" method="POST" class="last">
						<input type="hidden" name="cmd" value="_cart" />
						<input type="hidden" name="display" value="1" />
						<button class="w3view-cart" type="submit" name="submit" value=""><i
								class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
					</form>
				</div>
			</div>
			<div class="col-md-1 navigation-agileits dropdown">
				{{#if user}}
				<a href="#" id="navbarDropdownMenuLink2" data-toggle="" aria-haspopup="true" aria-expanded="false"><img
						src="/images/huy.jpg" alt="" class="user-avatar-md rounded-circle"></a>
				<div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
					aria-labelledby="navbarDropdownMenuLink2">
					<div class="nav-user-info">
						<h5 class="mb-0 text-white nav-user-name">Hồ Quốc Huy</h5>
					</div>
					<a class="dropdown-item" href="/user/profile/{{user.id}}"><i class="fas fa-user mr-2"></i>Tài
						khoản</a>
					<a class="dropdown-item" href="/"><i class="fas fa-cog mr-2"></i>Cài đặt</a>
					<a class="dropdown-item" href="/user/logout"><i class="fas fa-power-off mr-2"></i>Đăng xuất</a>
				</div>
				{{else}}
				<a href="#" id="navbarDropdownMenuLink2" data-toggle="" aria-haspopup="true" aria-expanded="false"><img
						src="/images/userlogo.png" alt="" class="user-avatar-md rounded-circle"></a>
				<div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
					aria-labelledby="navbarDropdownMenuLink2">
					<div class="nav-user-info">
						<h5 class="mb-0 text-white nav-user-name">Bạn chưa đăng nhập</h5>
					</div>
					<a class="dropdown-item" href="/user/login"><i class="fas fa-user mr-2"></i> Đăng nhập</a>
					<a class="dropdown-item" href="/user/register"><i class="fas fa-cog mr-2"></i> Đăng ký</a>
				</div>
				{{/if}}
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	{{{body}}}
	<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Bảng tin</h3>
				<p>Nhập email để có thể nhận được những ưu đãi lớn nhất</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';"
						onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="Đăng kí" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //newsletter -->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 footer-grids fgd1">
				<a href="/"><img src="/images/logo2.png" alt=" " />
					<h3>FASHION<span>CLUB</span></h3>
				</a>
				<ul>
					<li>227 Nguyễn Văn Cừ, Phường 4, Quận 5</li>
					<li>TP Hồ Chí Minh</li>
					<li><a href="huyho0202@gmail.com">huyho0202@gmail.com</a></li>
					<a href="https://www.instagram.com"><i class="fab fa-instagram" aria-hidden="true"
							style="font-size: 40px"></i></a>
					<a href="https://www.youtube.com/"><i class="fab fa-youtube" aria-hidden="true"
							style="font-size: 40px"></i></a>
					<a href="https://www.facebook.com/huydum22"><i class="fab fa-facebook-f" aria-hidden="true"
							style="font-size: 40px"></i></a>
					<a href="https://www.facebook.com"><i class="fab fa-linkedin" aria-hidden="true"
							style="font-size: 40px"></i></a>
				</ul>
			</div>
			<div class="col-md-3 footer-grids fgd2">
				<h4>Thông tin</h4>
				<ul>
					<li><a href="/contact">Liên hệ chúng tôi</a></li>
					<li><a href="/faq">Hỏi đáp</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grids fgd3">
				<h4>Của hàng</h4>
				<ul>
					<li><a href="/products/jewellery">trang sức</a></li>
					<li><a href="/products/cosmetics">Mỹ phẩm</a></li>
					<li><a href="/products/shoes">Giày</a></li>
					<li><a href="/products/deos">Nước hoa</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grids fgd4">
				<h4>Tài khoản của tôi</h4>
				<ul>
					{{#if user}}
					<li><a href="/user/logout">Đăng xuất</a></li>
					{{else}}
					<li><a href="/user/login">Đăng nhập</a></li>
					<li><a href="/user/register">Đăng kí</a></li>
					{{/if}}
					<li><a href="/recommended">Khuyên dùng </a></li>
					<li><a href="/payment">Phương thức mua hàng</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<p class="copy-right">© 2019 Fashion Club . Tất cả được bản quyền | Thiết kế bởi <a
					href="https://www.facebook.com/huydum22"> tôi.</a></p>
		</div>
	</div>
	<!-- cart-js -->
	<script src="/javascripts/minicart.js"></script>
	<script>
		w3ls1.render();

		w3ls1.cart.on('w3sb1_checkout', function (evt) {
			var items, len, i;
			if (this.subtotal() > 0) {
				items = this.items();
				for (i = 0, len = items.length; i < len; i++) {
					items[i].set('shipping', 0);
					items[i].set('shipping2', 0);
				}
			}
		});
	</script>


	<!-- //cart-js -->
</body>

</html>