</div>
<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Đổi mật khẩu</h3>
            {{#if message}}
            <div class="alert alert-danger">{{message}}</div>
            {{/if}}
            <div id="message"></div>
            <form action="/user/changePass/{{user._id}}" method="post">
                <label>Mật khẩu cũ</label>
                <span id="error-message1" aria-hidden="true" role="alert"> </span>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" name="currentpass" id="currentpass" placeholder="Mật khẩu cũ" required>
                    <div class="clearfix"></div>
                </div>
                <label>Mật khẩu mới</label>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" name="newPass" id="newPass" placeholder="Mật khẩu" required>
                    <div class="clearfix"></div>
                </div>
                <label>Xác nhận mật khẩu mới</label>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" name="confirm_password" id="confirm_password" data-parsley-equalto="#pass"
                        placeholder="Xác nhận mật khẩu" required>
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="Đăng nhập" id="login">
            </form>
        </div>
        <div class="forg">
            <a href="/" class="forg-left">Quên mật khẩu</a>
            <a href="/user/register" class="forg-right">Đăng kí</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
    $('#currentpass').keyup(function () {
        var checkPass = $('#currentpass').val();
        console.log(checkPass.length)
        if (checkPass.length > 6) {
            var strongRegex = new RegExp("^(?=.{6,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$", "g");
            if (strongRegex.test(checkPass)) {
                $('#message').removeClass().html('');
                $("#login").attr("disabled", false);
            }
            else {
                $('#message').addClass('alert alert-danger');
                $("#message").html("Mật khẩu nên có chữ số, chữ cái viết hoa");
                $("#login").attr("disabled", true);

            }
        }
        else {
            $('#message').addClass('alert alert-danger');
            $("#message").html("Mật khẩu quá ngắn ");
            $("#login").attr("disabled", true);

        }
    })
</script>
<script>
    $('#newPass').keyup(function () {
        var checkPass1 = $('#newPass').val();
        if (checkPass1.length > 6) {
            var strongRegex = new RegExp("^(?=.{6,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$", "g");
            if (strongRegex.test(checkPass1)) {
                $('#message').removeClass().html('');
                $("#login").attr("disabled", false);
            }
            else {
                $('#message').addClass('alert alert-danger');
                $("#message").html("Mật khẩu nên có chữ số, chữ cái viết hoa");
                $("#login").attr("disabled", true);

            }
        }
        else {
            $('#message').addClass('alert alert-danger');
            $("#message").html("Mật khẩu quá ngắn ");
            $("#login").attr("disabled", true);

        }
    })
</script>
<script>
    $('#confirm_password').keyup(function () {
        var checkPass2 = $('#confirm_password').val();
        if (checkPass2.length > 6) {
            var strongRegex = new RegExp("^(?=.{6,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*$", "g");
            if (strongRegex.test(checkPass2)) {
                $('#message').removeClass().html('');
                $("#login").attr("disabled", false);
            }
            else {
                $('#message').addClass('alert alert-danger');
                $("#message").html("Mật khẩu nên có chữ số, chữ cái viết hoa");
                $("#login").attr("disabled", true);

            }
        }
        else {
            $('#message').addClass('alert alert-danger');
            $("#message").html("Mật khẩu quá ngắn ");
            $("#login").attr("disabled", true);

        }
    })
</script>
<script>
    var password = document.getElementById("newPass"), confirm_password = document.getElementById("confirm_password")
    function validatePassword() {
        if (confirm_password.value.length < 6) {
            $('#message').addClass('alert1 alert-danger');
            $("#message").html("Mật khẩu quá ngắn ")
        } else {
            if (password.value != confirm_password.value) {
                $('#message').addClass('alert1 alert-danger');
                $('#message').html('Mật khẩu chưa trùng khớp.');
                $("#login").attr("disabled", true);
            } else {
                $('#message').removeClass('alert1 alert-danger')
                $('#message').html('');
                $("#login").attr("disabled", false);
            }
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>